@charset 'UTF-8';

:root {
	--f_fontSize : 16px ;
	--f_lineHeight : 1.5 ;
	--f_fontStyle : normal ;
	--f_fontWeight : 400 ;

}

* {
	margin : 0 ;
	padding : 0 ;
	box-sizing : content-box ;
}

html {
	font-size : 1rem ;
}

.Body {
	font-size : clamp( 100% , 1rem , 25px );
}
